html,
body {
  margin: 0;
  padding: 0;
  background: var(--main-bg);
}

:root {
  --main-bg: #0d1116;
  --graph-bg: #000;
  --level0: #161b22;
  --level3: darkblue;
  --level5: blue;
  --level10: lightskyblue;
}

.graph-container {
  margin: 3em auto;
  width: fit-content;
}

.graph {
  display: grid;
  grid-template-columns: repeat(52, 1fr);
  background: var(--graph-bg);
  padding: 1em;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.square {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  margin: 3px;
  margin-right: 0;
  background: var(--level0);
}

[data-value="3"] {
  background: var(--level3);
}

[data-value="5"] {
  background: var(--level5);
}

[data-value="10"] {
  background: var(--level10);
}
